<!DOCTYPE html>

<html>

    <head>
        <link rel="icon" href="/img/weather.png">
        <title>About</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/robot.png">
            <p>Hey guys,<br>
                I am a Software Engineer working for Adobe Systems.<br>
                This is my first node js application.<br>
                I know it doesn't do much but it does tell you the weather for your city.<br>
                Hope you like it!!!<br>
            </p>
        </div>
        {{>footer}}
    </body>
</html>